:root {
    --jaune: #FEFAA3;
    --orange: #FFD296;
    --bleu: #85BFF3;
    --rose: #FFBDF8;
    --vert: #8FE2C9;
    --gris: #363636;
}

body {
    height: 100vh;
    position: absolute;
    margin: 0 20vw 0 20vw;
    height: auto;
}

/* Navigation */
.navbar {
    position: sticky;
    font-family: "Fira Code", monospace;
    font-size: 1.5rem;
    width: 10rem;
    top: 5vh;
}

.navbar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.navbar a:hover {
    text-decoration: none;
    color: #000;
}




.titre_page {
    align-self: flex-end;
}

h1 {
    font-family: "Montserrat";
    background: var(--jaune);
    font-size: 3rem;
    font-weight: 500;
    line-height: 0.5;
    text-transform: uppercase;
    letter-spacing: 6px;
    background-color: var(--jaune);
    height: 40px;
}

h2 {
    font-family: "Fira Code", monospace;
    line-height: 0;
    text-align: right;
    font-size: 2rem;
    font-weight: 400;
}

.a_propos, .projets {
    padding: 15vh 0 5vh 0;
    width: 100%;
}

.a_propos h2, .projets h2 {
    text-align: left;
}

.a_propos h2 span,  .projets h2 span{
    background-color: var(--jaune);
}

.a_propos p {
    font-family: "Montserrat";
    font-size: 1.5rem;
    line-height: 2;
    padding-top: 5vh;
}

.container {
    position: relative;
    top: 70vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
    width: 50vw;
}

/* Présentation */
.presentation {
    display: flex;
    align-items: center;
}

.presentation img {
    width: 40%;
    padding-left: 2rem;
}

.presentation #web {
    background-color: var(--vert);
}

.presentation #design {
    background-color: var(--orange);
}

.competences {
    padding-top: 5rem;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Projets */
.cartes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

.carteProjet {
    width: auto;
    height: 500px;
    background-color: red;
}
