:root {
  --jaune: #fefaa3;
  --orange: #ffd296;
  --bleu: #85bff3;
  --rose: #ffbdf8;
  --vert: #8fe2c9;
  --gris: #363636;
}

/*---------- Début Styles Généraux ----------*/
* {
  margin: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

.stop-scrolling {
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 100px;
  margin: 0 40px 40px 40px;
}

main {
  position: relative;
  width: 100vw;
  max-width: 800px;
  padding-bottom: 150px;
}

h1 {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.5;
  text-transform: uppercase;
  letter-spacing: 6px;
  height: 40px;
  white-space: nowrap;
}

h1 span {
  background-color: var(--jaune);
}

h2 {
  font-family: "Fira Code", monospace;
  line-height: 0;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 60px;
}

h2 span {
  background-color: var(--jaune);
}

.a_propos,
.projets {
  margin: 15vh 0 5vh 0;
}

a {
  font-family: "Fira Code", monospace;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.5s;
}

a:hover {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 880px) {
  .presentation img {
    display: none;
  }
  h1 {
    font-size: 5.5vw;
  }
  h2 {
    font-size: 1.5rem;
  }
}
/*---------- Fin Styles Généraux ----------*/

/*---------- Début Navigation ----------*/
.navbar {
  position: sticky;
  top: 4vh;
  align-self: flex-start;
  font-size: 1.5rem;
  white-space: nowrap;
}

.navbar p {
  margin: 25px 0 25px 0;
}

.icone-burger {
  display: none;
  width: 100vw;
  background-color: #fff;
  border-bottom: 2px solid #EBEBEB;
  height: 65px;
  position: fixed;
  z-index: 5;
}

.icone-menu-burger {
  position: fixed;
  top: 20px;
  left: 40px;
  width: 30px;
  z-index: 2;
}

.icone-menu-burger:hover {
  cursor: pointer;
}

.menu-burger {
  display: none;
  justify-content: center;
  gap: 75px;
  align-items: center;
  flex-direction: column;
  position: sticky;
  z-index: 10;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  background-color: #EBEBEB;
}

.menu-burger p {
  font-size: 5vw;
  color: #000;
}

.menu-burger p a {
  color: #000;
}

.menu-burger .email-telephone {
  display: flex;
  flex-direction: row;
  gap: 30px
}

.menu-burger .email-telephone img {
  width: 12vw;
}

.icone-menu-burger-x {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 30px;
}

.icone-menu-burger-x:hover {
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .navbar {
    display: none;
  }
  .icone-burger {
    display: block;
  }
}
/*---------- Fin Navigation ----------*/

/*---------- Début titre de page ----------*/
.titre_container {
  position: relative;
  height: 100vh;
}
.titre_page {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 4vh;
}

.titre_page h2 {
  margin-top: 20px;
}
/*---------- Fin titre de page ----------*/

/*---------- Début À propos ----------*/
.presentation {
  display: flex;
  align-items: center;
}

.a_propos p {
  font-family: "Montserrat";
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: 350;
}

.presentation img {
  width: 35%;
  margin-left: 2rem;
}

.presentation #web {
  background-color: var(--vert);
}

.presentation #design {
  background-color: var(--orange);
}

.competences {
  margin-top: 50px;
  padding: 10px;
  overflow: hidden;
}

.competences img {
  width: auto;
  height: 75px;
}

@media screen and (max-width: 880px) {
  .competences {
    width: 80vw;
  }
}
/*---------- Fin À propos ----------*/

/*---------- Début Fullscreen Projets ----------*/
.fullscreen_container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.fullscreen_container .flechesPortrait {
  display: none;
}

.fullscreen_container .flechesScene {
  display: none;
}

.fullscreen {
  position: fixed;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 20fr 0.5fr;
  gap: 2vw;
}

#btnFermer {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 20px;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}

#btnFermer:hover {
  opacity: 50%;
}

.fullscreen #imgFullscreen {
  margin: 0 auto;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60vw;
  object-fit: contain;
}

.btnNextFullscreen {
  width: 100vw;
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 70vw;
  left: -1.8%;
}

.btnNextFullscreen img {
  width: 18px;
  transition: opacity 0.5s;
}

.btnNextFullscreen img:hover {
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .fullscreen #imgFullscreen {
    height: 90vh;
  }
}

@media screen and (orientation: portrait) {
  .fullscreen {
    rotate: 90deg;
    width: 90vh;
    max-height: 90vw;
    grid-template-columns: 100%;
  }
  .fullscreen #imgFullscreen {
    width: 80%;
    height: auto;
  }
  .fullscreen #btnFermer {
    left: 25px;
    width: 4%;
  }
  .btnNextFullscreen {
    rotate: 90deg; 
    gap: 80vh;
  }
  .btnNextFullscreen img {
    width: 22px;
  }
  
}
/*---------- Fin Fullscreen Projets ----------*/

/*---------- Début Projets ----------*/
.cartes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.carteProjet {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 20px;
}

.carteProjet h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
}

.img_projet {
  width: 100%;
  max-height: 100%;
  object-fit: contain;

}

.carteContent:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.carteContent {
  position: relative;
  transition: transform 0.5s;
}

.no_swiper .img_projet {
  transition: transform 0.5s;
}

.no_swiper .img_projet:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.btnFullscreen {
  background: #000;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.btnFullscreen:hover {
  background: rgba(0, 0, 0, 0.5);
}

.btns_interaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btns_interaction a {
  font-size: 1.2rem;
}

.fleches {
  align-self: flex-end;
}

.fleches img {
  width: 12px;
  transition: opacity 0.5s;
}

.fleches img:nth-child(1) {
  margin-right: 20px;
}

.fleches img:hover {
  cursor: pointer;
  opacity: 50%;
}

.carteProjet p {
  font-family: "Montserrat";
  font-size: 1rem;
}

.roles,
.check {
  font-weight: 700;
}

.check:before {
  content: url("../assets/images/icone_equipe.png");
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.7);
  line-height: 1px;
  margin-right: 10px;
}

.check span {
  font-weight: 400;
  font-style: italic;
}

.check ~ .check:before {
  content: " ";
  margin-left: 45px;
}

.equipe .check:before {
  height: 15px;
}

.coequipier_linkedin {
  display: inline;
  height: 20px;
  position: relative;
  top: 5px;
  left: 5px;
} 

.carteProjet p {
  width: 90%;
}

.carteProjet:nth-child(1) {
  background-color: var(--bleu);
}

.carteProjet:nth-child(2) {
  background-color: var(--vert);
}

.carteProjet:nth-child(3) {
  background-color: var(--rose);
}

.carteProjet:nth-child(4) {
  background-color: var(--orange);
}

@media screen and (max-width: 350px) {
  .carteProjet h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .cartes {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
  .fleches img {
    width: 18px;
  }
  .carteProjet {
    padding: 25px;
  }
  .fleches {
    display: flex;
    gap: 40px;
    align-self: center;
  }
}
/*---------- Fin Projets ----------*/

/*---------- Début Pied de page ----------*/
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: "Fira Code", monospace;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

footer img {
  width: 30px;
}

footer p {
  margin-top: 10px;
}

footer p span {
  text-decoration: underline;
}

footer p span a {
  color: #000;
}

/*---------- Fin Pied de page ----------*/
