:root {
    --jaune: #FEFAA3;
    --orange: #FFD296;
    --bleu: #85BFF3;
    --rose: #FFBDF8;
    --vert: #8FE2C9;
    --gris: #363636;
}

/* Généraux*/
body {
    margin: 0 15vw 0 15vw;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    justify-content: center;
}

@media screen and (min-width: 2200px) { 
    body {
        margin: 0 25vw 0 25vw;
    }
 }

.container {
    position: relative;
    top: 80vh;
}

p {
    margin: 0;
}

h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 500;
    line-height: 0.5;
    text-transform: uppercase;
    letter-spacing: 6px;
    height: 40px;
}

h1 span {
    background-color: var(--jaune);
}

h2 {
    font-family: "Fira Code", monospace;
    line-height: 0;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 80px;
}

h2 span {
    background-color: var(--jaune);
}

.a_propos, .projets {
    margin: 15vh 0 5vh 0;
}

/* Navigation */
.navbar {
    position: sticky;
    top: 5vh;
    align-self: flex-start;
    font-family: "Fira Code", monospace;
    font-size: 1.5rem;
    white-space: nowrap;
}

.navbar p {
    margin: 25px;
}

.navbar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.navbar a:hover {
    text-decoration: none;
    color: #000;
}

/* Héro */
.titre_page {
    text-align: right;
}

/* Présentation */
.presentation {
    display: flex;
    align-items: center;
}

.a_propos p {
    font-family: "Montserrat";
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 350;
}

.presentation img {
    width: 40%;
    margin-left: 2rem;
}

.presentation #web {
    background-color: var(--vert);
}

.presentation #design {
    background-color: var(--orange);
}

.competences {
    margin-top: 50px;
    width: 100%;
    display: block;
}

/* Projets */
#projets h2 {
    margin: 15vh 0 5vh 0;
}
.cartes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

@media screen and (max-width: 1350px) { 
    .cartes {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
 }

.carteProjet {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 20px;
}

.carteProjet h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    align-self: center;
}

.img_projet {
    width: 100%;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
}

.fleches {
    align-self: flex-end;
    margin-top: -5px;
}

.fleches img {
    width: 18px;
}

.fleches img:nth-child(1) {
    margin-right: 20px;
}

.fleches img:hover {
    cursor: pointer;
    opacity: 50%;
}

.carteProjet p {
    font-family: "Montserrat";
    font-size: 1rem;
}

.roles, .check {
    font-weight: 700;
}

.check:before {
    content: url("../assets/checkbox.png");
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-right: 10px;
}

.carteProjet p {
    width: 90%;
}

.carteProjet:nth-child(1) {
    background-color: var(--bleu);
}

.carteProjet:nth-child(2) {
    background-color: var(--vert);
}

.carteProjet:nth-child(3) {
    background-color: var(--rose);
}

.carteProjet:nth-child(4) {
    background-color: var(--orange);
}
